{{#partial "content"}}
    {{#if attendees}}
        <div class="well">
            <h3>Details About {{attendees.attendeeName}}: </h3>
            <ul>
                <p>{{attendees.attendeeName}}</p>
                <p>{{attendees.age}}</p>
            </ul>
            <a class="btn btn-info" href="/event/{{attendees.eventId}}/attendees/{{attendees.id}}/edit">Edit</a>
            <a class="btn btn-info" href="/event/{{attendees.eventId}}/attendees/{{attendees.id}}/delete">Delete</a>

        </div>
    {{/if}}

{{/partial}}

{{> layout.hbs}}