{{#partial "content"}}
    {{#if attendees}}
        <div class="well">
            <h3>Details About {{attendees.attendeeName}}: </h3>
            <ul>
                <li>{{attendees.attendeeName}}</li>
                <li>{{attendees.age}}</li>
            </ul>
            <a class="btn btn-info" href="/event/{{attendee.eventId}}/attendees/{{attendee.id}}/edit">Edit</a>
            <a class="btn btn-info" href="/event/{{attendee.eventId}}/attendees/{{attendee.id}}/delete">delete</a>

        </div>
    {{/if}}

{{/partial}}

{{> layout.hbs}}